@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "DanaFaNum";
  }
}
:root {
  --primary: #748faa;
  --primary-50: #e3f1ff;
  --primary-100: #cce2f7;
  --primary-200: #aecfef;
  --primary-300: #a1c2e2;
  --primary-400: #91b0ce;
  --primary-500: #82a0bf;
  --primary-600: #748faa;
  --primary-700: #617d9a;
  --primary-800: #516e8c;
  --primary-900: #445e87;
  --primary-950: #354969;

  --secondary: #3f2f12;
  --secondary-50: #ebe6db;
  --secondary-100: #c9bfb1;
  --secondary-200: #a39583;
  --secondary-300: #7c6d56;
  --secondary-400: #625136;
  --secondary-500: #483617;
  --secondary-600: #3f2f12;
  --secondary-700: #332409;
  --secondary-800: #281800;
  --secondary-900: #1d120e;
  --secondary-950: #160e0b;

  --special-1: #00000080;
  --special-2: #ffffff33;
  --special-3: #ffffff80;
  ---icon: url("");
  --menu-icon: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 32H16C15.448 32 15 31.553 15 31C15 30.447 15.448 30 16 30H32C32.552 30 33 30.447 33 31C33 31.553 32.552 32 32 32Z' fill='%23284E65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 18H16C15.448 18 15 17.553 15 17C15 16.447 15.448 16 16 16H32C32.552 16 33 16.447 33 17C33 17.553 32.552 18 32 18Z' fill='%23284E65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 25H16C15.448 25 15 24.553 15 24C15 23.447 15.448 23 16 23H32C32.552 23 33 23.447 33 24C33 24.553 32.552 25 32 25Z' fill='%23284E65'/%3E%3C/svg%3E");
  --exchange-icon: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='11.5' fill='%23EBE6DB'/%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='11.5' stroke='%237C6D56'/%3E%3Cpath d='M32.5 17.5C32.7761 17.5 33 17.2761 33 17C33 16.7239 32.7761 16.5 32.5 16.5L32.5 17.5ZM14.1464 16.6464C13.9512 16.8417 13.9512 17.1583 14.1464 17.3536L17.3284 20.5355C17.5237 20.7308 17.8403 20.7308 18.0355 20.5355C18.2308 20.3403 18.2308 20.0237 18.0355 19.8284L15.2071 17L18.0355 14.1716C18.2308 13.9763 18.2308 13.6597 18.0355 13.4645C17.8403 13.2692 17.5237 13.2692 17.3284 13.4645L14.1464 16.6464ZM32.5 16.5L14.5 16.5L14.5 17.5L32.5 17.5L32.5 16.5Z' fill='%23445E87'/%3E%3Cpath d='M14.5 30.5C14.2239 30.5 14 30.7239 14 31C14 31.2761 14.2239 31.5 14.5 31.5V30.5ZM32.8536 31.3536C33.0488 31.1583 33.0488 30.8417 32.8536 30.6464L29.6716 27.4645C29.4763 27.2692 29.1597 27.2692 28.9645 27.4645C28.7692 27.6597 28.7692 27.9763 28.9645 28.1716L31.7929 31L28.9645 33.8284C28.7692 34.0237 28.7692 34.3403 28.9645 34.5355C29.1597 34.7308 29.4763 34.7308 29.6716 34.5355L32.8536 31.3536ZM14.5 31.5H32.5V30.5H14.5V31.5Z' fill='%23445E87'/%3E%3C/svg%3E");
}

@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/DanaFaNum-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/DanaFaNum-Medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/DanaFaNum-Bold.ttf") format("truetype");
}

@media (min-width: 1024px) {
  .footer-swiper .swiper-slide {
    margin-left: 0 !important;
  }
}
